html { height: 100%; }
body { height: 100%; }

#cn-cards {
    background: linear-gradient(#e66465, #9198e5);
}

.cn-button {
    display: inline-block;
    position: relative;
    padding: 0.4rem 1rem 0.3rem;
    color: black;
    border-radius: 1rem;
    background-color: rgb(255, 228, 0);
    border-width: 2px 1px;
    border-style: solid;
    border-color: rgb(255, 246, 167) rgb(255, 212, 0) rgb(243, 146, 0);
    cursor: pointer;
    font-weight: 500;
}

.cn-message {
    padding: 0.4rem 1rem 0.3rem;
    color: black;
    border-radius: .5rem;
    background-color: rgb(255, 250, 207);
    border-width: 2px 1px;
    font-weight: 500;
}

.cn-button:hover {
    background-color: rgb(255, 188, 0);
}

#cn-schema {
    width: 200px;
}
.cn-schema-img {
    width: 20%;
}
.cn-card {
    width: 100%;
    height: auto;
}
.cn-card:hover,
.cn-text-card:hover {
    cursor: pointer;
}
.cn-card-container {
    position: relative;
    text-align: center;
    color: white;
    width: auto;
    max-width: 18%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.cn-card-container img {
    width: 100%;
}
.cn-card-text {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.cn-card-votes {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#cn-show-schema {
    position: fixed;
    bottom: 0;
    right: 0;
}
