{% extends 'base.html.twig' %}

{% block content %}
	<span id="gameKey" data-value={{gameKey}}></span>
	<span id="playerKey" data-value={{currentPlayerKey}}></span>
	<div id="cn-cards">
			<div id="game"></div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('main') }}
{% endblock %}
