{% extends 'base.html.twig' %}

{% block content %}
	<span id="gameKey" data-value={{gameKey}}></span>
	<span id="playerKey" data-value={{currentPlayerKey}}></span>
	<div class="container" id="cn-cards">
		<div class="row">
			<div id="game"></div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

	{{ encore_entry_script_tags('main') }}

{% endblock %}
