{% extends 'base.html.twig' %}

{% block content %}
<div class="container" id="cn-cards">
    <div class="row">

    {# TODO : Boucle avec twig #}
    <img src="{{ asset('images/red0.png') }}" alt="Symfony!"/>
    </div>

    <div class="row">
        <p class="col">Vous êtes : <span id="current-player"></span> </p>
        <p class="col">C'est le tour de l'équipe : <span id="current-team"></span> </p>
        <p class="col">Mot annoncé : <span id="announced-word"></span> </p>
        <p class="col">Nombre annoncé : <span id="announced-number"></span> </p>
    </div>
</div>
{% endblock %}