{% extends 'base.html.twig' %}

{% block content %}
<form action="/login" method="post">
    <input type="hidden" name="gameKey" id="gameKey" value="{{gameKey}}">
    <label for="login">Choisir un nom de joueur</label>
    <input type="text" name="login" id="login">
    <button type="submit">Valider</button>
</form>
{% endblock %}