{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <p>Connecté en tant que : {{playerName}}
     </p>
    <form action="/join" method="post" name="join-game-form">
        <label for="game">Rejoindre une partie</label>
        <input type="text" id="gameKey" name="gameKey">
        <button id="join-game" type="submit">Rejoindre</button>    
    </form>
    <p>OU</p>
    <form action="/create" method="post">
        <button>Créer une nouvelle partie</button>
    </form>
</div>
{% endblock %}