{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <form action="index.php" method="get">
        <label for="game">Rejoindre une partie</label>
        <input type="text" id="game" name="game">
        <button type="submit">Rejoindre</button>    
    </form>
    <p>OU</p>
    <form action="index.php" method="post">
        <button>Créer une nouvelle partie</button>
    </form>
</div>
{% endblock %}